@media screen and (min-width:250px)  {


  #container{
    display: grid;
    grid-template-rows: repeat(3, 1fr); }

#intro{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;

    h2{
       
        font-family: 'Alkalami', serif;
        text-transform: capitalize;
       font-size:24px;
    } 
    p{
        
        font-family: 'Alkalami', serif;
        text-transform: capitalize;
       font-size:14px;
    }
   
}
}